# System files
.DS_Store
Thumbs.db

# IDE - Visual Studio Code & Others
.vscode/
.idea/
*.swp

# Node & Package Managers
node_modules/
.npm
dist/

# Logs
*.log
npm-debug.log*

# Local environment variables
.env
.env.local